<br>
<h1>My Todo's</h1>

<div class="container">
<table class="table">
  <!-- <caption> My Todo's</caption> -->
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>description</th>
      <th>Target Date </th>
      <th>is Completed</th>
    </tr>
  </thead>
  <tbody>
    <!-- for (Todo todo: todos){ in JAVA -->
    <tr *ngFor="let todo of todos">
      <!-- <td>{{todo.id}}</td> -->
      <td>{{todo.description}}</td>
      <td>{{todo.targetDate | date |uppercase}}</td> 
      <td>{{todo.done}}</td>
      <!-- // pipe is for convert one value to other -->
      
    </tr>
  </tbody>
</table>
</div>